/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Apply to all elements inside .container */
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}

h1 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #000508;
}
.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #87CEFA;
}

.container {
  position:absolute;
  top: 50%;
  left: 50%;
  height:500px;
  transform: translate(-50%, -50%);
  max-width: 800px;
  margin-top: 150px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

.container .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #4169E1;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #4169E1;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #006653;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #009579;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}

      button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #000000; 
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        }
        button:hover {
        background: #353535;
        }  
        .header {
                    overflow: hidden;
                    background-color: #000000;
                    padding: 20px 10px;
                    height: 100px;
              }
              
              .header a.mh {
                    text-align: center;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bold;
                    align-items: center;
              }
              .header a.i{
                margin-bottom: 2px;
              }
              
              .header a {
                    float: left;
                    color: rgb(246, 242, 242);
                    text-align: center;
                    padding: 8px;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 4px;
                    margin-top:0px;
                    
              }
              
              .food{
      font-family: 'Times New Roman', Times, serif;
            font-weight: bold; 
      
      color:rgb(255, 255, 255);
      
      
    }
    
    .header a.logo {
                    font-size: 40px;
                    font-weight: bold;
                    margin-top: 20px;
              }
              
              .header a:hover {
                    background-color: #5b5959;
                    color: black;
              }
              
              .header-right {
                    margin-left: 1000px;
              }
    .navbar {
        background-color: black; /* Set the header background color to black */
        margin-bottom: 0;
        width: 100px;
    }
    
    .navbar-brand {
        display: flex;
        align-items: center;
        color: white; /* Set the color of the header text */
    }
    
    .header img {
        margin-right: 10px; 
        border-radius: 50%;/* Add some spacing between the logo and text */
    }
    
