/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #87CEFA;
}

.container {
  position: absolute;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  align-self: center;
  margin-left: 400px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #4169E1;
}
.form button:hover {
  background: rgb(88, 56, 250);
}


button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #000000; 
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  }
  button:hover {
  background: #353535;
  }  
  .header {
              overflow: hidden;
              background-color: #000000;
              padding: 20px 10px;
              height: 120px;
        }
        
        .header a.mh {
              text-align: center;
              font-family: 'Times New Roman', Times, serif;
              font-weight: bold;
              align-items: center;
        }
        .header a.i{
          margin-bottom: 2px;
        }
        
        .header a {
              float: left;
              color: rgb(246, 242, 242);
              text-align: center;
              padding: 8px;
              text-decoration: none;
              font-size: 18px;
              line-height: 25px;
              border-radius: 4px;
              margin-top:0px;
              
        }
        
        .food{
font-family: 'Times New Roman', Times, serif;
      font-weight: bold; 

color:rgb(255, 255, 255);


}

.header a.logo {
              font-size: 40px;
              font-weight: bold;
              margin-top: 20px;
        }
        
        .header a:hover {
              background-color: #5b5959;
              color: black;
        }
        
        .header-right {
              margin-left: 1000px;
        }
.navbar {
  background-color: black; /* Set the header background color to black */
  margin-bottom: 0;
  width: 100px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white; /* Set the color of the header text */
}

.header img {
  margin-right: 10px; 
  border-radius: 50%;/* Add some spacing between the logo and text */
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
